<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Божественная комедия</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="book1.jpg"
            </div>
            <div class="book-info">
                <h3>Божественная комедия</h3>
                <p>Автор: Данте Алигьери</p>
                <p>Жанр: Европейская старинная литература, Зарубежная поэзия, Зарубежная старинная литература, Метафизика</p>
                <p>Год издания: 1307–1321</p>
                <p>
                    Описание: «Божественная комедия» – главное произведение Средневековья, которое не поддалось ни забвению, ни обветшанию.
                    Когда в загробный мир спускается поэт, Ад, Чистилище и Рай перестают быть абстрактностями и наполняются яркими деталями и неординарными явлениями. Смертные грехи, благодетели и великая любовь будут спутниками поэта во время его путешествия. Поэму Данте до сих пор можно читать как самый большой вызов божественному мирозданию. Будет смешно и больно.
                </p>
                <a href="~/css/Book_fb2/Божественная комедия.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
