<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ричард длинные руки</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <h2>Название книги</h2>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book6.jpg">
            </div>
            <div class="book-info">
                <h3>Ричард длинные руки</h3>
                <p>Автор: Гай Орловский</p>
                <p>Жанр: Фэнтези</p>
                <p>Год издания: 2001</p>
                <p>Описание: Фэнтезийный цикл-эпопея «Ричард Длинные Руки» повествует о классическом москвиче-попаданце по прозвищу Дик, который провалился в альтернативное европейское средневековье и начал свой трудный карьерный путь от простолюдина вверх. Кто бы мог предположить, что обычный современный парень так гармонично впишется в суровые реалии меча и магии, где ему придется участвовать в сражениях, столкнуться с инквизицией и силами зла, и после всего этого настойчиво идти дальше на таинственный Юг, чтобы вернуться домой? Критики высоко оценили историческую достоверность образов и деталей повествования, а многочисленные поклонники серии об отважном Ричарде с нетерпением ждут выхода новых книг. На сегодняшний день писатель создал более сорока пяти произведений о рыцарях и колдунах.</p>
                <a href="~/css/Book_fb2/Ричард длинные руки.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
