<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1984</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book4.jpg">
            </div>
            <div class="book-info">
                <h3>1984</h3>
                <p>Автор: Джордж Оруэл</p>
                <p>Жанр: роман о политике, роман-антиутопия, художественное произведение о политике</p>
                <p>Год издания: 1949</p>
                <p>
                    Описание: Фантастическая антиутопия Оруэлла – это мир тотального контроля и страха, где люди живут ради войны, ради того, чтобы скрыть правду и воспитать настоящих патриотов. В жестоком тоталитарном государстве люди лишены гражданских прав и собственного мнения. Культ Большого Брата подразумевает жесткую социальную иерархию, где даже проявление любви считается мыслепреступлением. Уинстон Смит понимает, что он пешка в этой истории, и тем не менее пытается что-то изменить. «1984» – это аллюзия на страны, в которых господствовал тоталитаризм. В ХХ веке книга была запрещена в социалистических государствах и вызвала волну возмущения по всему миру. Сейчас же «1984» считается ключевым произведением в жанре антиутопии.
                    Читайте онлайн полную версию книги «1984» автора Джордж Оруэлл на сайте электронной библиотеки MyBook.ru. Скачивайте приложения для iOS или Android и читайте «1984» где угодно даже без интернета.
                </p>
                <a href="~/css/Book_fb2/1984-fb2.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
