<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стеклянный трон</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book15.jpg">
            </div>
            <div class="book-info">
                <h3>Стеклянный трон</h3>
                <p>Автор: Сарра Дж. Маас</p>
                <p>Жанр: Зарубежное фэнтези, Любовное фэнтези</p>
                <p>Год издания: 2012</p>
                <p>
                    Описание: С детских лет ее учили убивать. К восемнадцати она стала самой известной женщиной-ассасином во всем королевстве. И даже из мрачных каторжных подземелий, куда она была сослана, ее имя продолжает вызывать страх и трепет. Селена Сардотин. Хладнокровная преступница и очаровательная пленница, чьи сила и способности могут понадобиться ее врагам. Но сначала она должна доказать свое превосходство на турнире в стеклянном замке. Это единственный путь к свободе в стране, где по приказу короля уничтожены древние знания и жестоко карается даже простое упоминание о магии. Но магию не вытравить по принуждению, она способна проявляться неожиданно. Как и любовь.
                </p>
                <a href="~/css/Book_fb2/Стеклянный трон.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
