<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>451 по фаренгейту</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book5.jpg" >
            </div>
            <div class="book-info">
                <h3>451 по фаренгейту</h3>
                <p>Автор: Рей Бредбари</p>
                <p>Жанр: философский роман</p>
                <p>Год издания: 1953</p>
                <p>Описание: 451° по Фаренгейту – температура, при которой воспламеняется и горит бумага. Философская антиутопия Брэдбери рисует беспросветную картину развития постиндустриального общества: это мир будущего, в котором все письменные издания безжалостно уничтожаются специальным отрядом пожарных, а хранение книг преследуется по закону, интерактивное телевидение успешно служит всеобщему оболваниванию, карательная психиатрия решительно разбирается с редкими инакомыслящими, а на охоту за неисправимыми диссидентами выходит электрический пес… Роман, принесший своему творцу мировую известность.</p>
                <a href="~/css/Book_fb2/451 градус по фарингейту.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
