<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог книг</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Web_Books</h1>
    <main>
        <h2>Каталог книг</h2>
        <section class="books">
            <article>
                <img src="~/css/Content/book1.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book1">Сердце Дракона</a></h3>
                <p>Автор: Кирилл Клеванский</p>
                <a href="~/css/Book_fb2/Сердце дракона с 1 по 14 книгу.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book2.jpg">
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book2">Мастер и Маргарита</a></h3>
                <p>Автор: Михаил Булгаков</p>
                <a href="~/css/Book_fb2/Мастер и Маргарита.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book3.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book3">Преступление и Наказание</a></h3>
                <p>Автор: Федор Достоевский</p>
                <a href="~/css/Book_fb2/Преступление и наказание.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book4.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book4">1984</a></h3>
                <p>Автор: Джордж Оруэл</p>
                <a href="~/css/Book_fb2/1984-fb2.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book5.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book5">451 по фаренгейту</a></h3>
                <p>Автор: Рей Бредбари</p>
                <a href="~/css/Book_fb2/451 градус по фарингейту.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book6.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book6">Ричард длинные руки</a></h3>
                <p>Автор: Гай Орловский</p>
                <a href="~/css/Book_fb2/Ричард длинные руки.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book7.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book7">Война и Мир</a></h3>
                <p>Автор: Николай Толстой</p>
                <a href="~/css/Book_fb2/Толстой Лев. Война и мир. Том 1 и 2 - royallib.com.fb2.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book8.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book8">Анархия упадка: Отсев</a></h3>
                <p>Автор: Лаэндл</p>
                <a href="~/css/Book_fb2/Анархия упадка - Отсев.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book9.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book9">Сто лет одиночества</a></h3>
                <p>Автор: Габриель Маркес</p>
                <a href="~/css/Book_fb2/Сто лет одиночества.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book10.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book10">Алая королева</a></h3>
                <p>Автор: Виктория Авеярд</p>
                <a href="~/css/Book_fb2/Аллая королева.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book11.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book11">Милые кости</a></h3>
                <p>Автор: Элис Сиболт</p>
                <a href="~/css/Book_fb2/Милые кости.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book12.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book12">Ходячий замок</a></h3>
                <p>Автор: Диана Джонс</p>
                <a href="~/css/Book_fb2/Ходячий замок.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book13.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book13">Пересеку время ради тебя</a></h3>
                <p>Автор: Ли Кконним</p>
                <a href="~/css/Book_fb2/Пересеку время ради тебя.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book14.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book14">Дом замений</a></h3>
                <p>Автор: Кейси Л. Бонд</p>
                <a href="~/css/Book_fb2/Дом Затмений.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book15.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book15">Стеклянный трон</a></h3>
                <p>Автор: Сарра Дж. Маас</p>
                <a href="~/css/Book_fb2/Стеклянный трон.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book16.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book16">Анна Каренина</a></h3>
                <p>Автор: Лев Толстой</p>
                <a href="~/css/Book_fb2/Анна Каренина.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book17.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book17">Легенда о Греге</a></h3>
                <p>Автор: Крис Райландер</p>
                <a href="~/css/Book_fb2/Легенда о Греге.zip" download="" class="button14">Скачать</a>
            </article>
            <article>
                <img src="~/css/Content/book18.jpg" >
                <h3><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Book18">Божественная комедия</a></h3>
                <p>Автор: Данте Алигьери</p>
                <a href="~/css/Book_fb2/Божественная комедия.zip" download="" class="button14">Скачать</a>
            </article>
        </section>
    </main>
</body>
</html>

