<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Милые кости</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book11.jpg">
            </div>
            <div class="book-info">
                <h3>Милые кости</h3>
                <p>Автор: Элис Сиболт</p>
                <p>Жанр: Современная зарубежная литература, Мистическая проза</p>
                <p>Год издания: 2000</p>
                <p>
                    Описание: «Шестого декабря тысяча девятьсот семьдесят третьего года, когда меня убили, мне было четырнадцать лет» – так начинается эта трагическая история. Погибшая – главная героиня Сюзи Сэлмон – приспосабливается к жизни на небесах и наблюдает сверху за тем, как ее убийца пытается замести следы, а семья – свыкнуться с утратой… Но эта сильная, драматическая книга не об убийстве, не о насилии, а о жизни. Жизни после смерти. Жизни тех, кто остался. Наверное, поэтому она написана таким на удивление светлым языком.
                    «Милые кости» Элис Сиболд переведены на сорок языков и разошлись многомиллионным тиражом. Роман послужил основой для нового кинопроекта Питера Джексона – одного из ведущих режиссеров Голливуда, автора «Властелинов Колец» и «Кинг-Конга».
                </p>
                <a href="~/css/Book_fb2/Милые кости.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
