<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сердце дракона</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book1.jpg">
            </div>
            <div class="book-info">
                <h3>Сердце дракона</h3>
                <p>Автор: Кирилл Клеванский</p>
                <p>Жанр: Фантастика, Экшен, Приключение</p>
                <p>Год издания: 2017</p>
                <p>
                    Описание: Он родился заново в мире, где боевые искусства неотличимы от магии. От прошлой жизни ему остались лишь нейро-сеть и пустые желания.
                    Что ждет его впереди? Он мечтал о приключениях и свободе, но у него отняли эти мечты. Как отняли мать, отца и сестру. Отняли королевство и собственную судьбу.
                    Но, чтобы вернуть все обратно, он начнет войну хоть против целого мира.
                    Даже если против него выступит армия – его меч не дрогнет.
                    Даже если император отправит легионы – его шаг не замедлится.
                    Даже если демоны и боги, герои и враги, объединятся против него, то не согнут его железной воли.
                    Его зовут Хаджар и он идет следом за зовом его драконьего сердца.
                </p>
                <a href="~/css/Book_fb2/Сердце дракона с 1 по 14 книгу.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
