<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Преступление и наказание</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book3.jpg">
            </div>
            <div class="book-info">
                <h3>Преступление и наказание</h3>
                <p>Автор: Федор Достоевский</p>
                <p>Жанр: Русская классика</p>
                <p>Год издания: 1866</p>
                <p>
                    Описание: «Преступление и наказание» – гениальный роман, главные темы которого: преступление и наказание, жертвенность и любовь, свобода и гордость человека – обрамлены почти детективным сюжетом.
                    Многократно экранизированный и не раз поставленный на сцене, он и по сей день читается на одном дыхании.
                </p>
                <a href="~/css/Book_fb2/Преступление и наказание.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
