<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Легенда о Греге</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book17.jpg">
            </div>
            <div class="book-info">
                <h3>Легенда о Греге</h3>
                <p>Автор: Крис Райландер</p>
                <p>Жанр: Героическое фэнтези, Городское фэнтези, Детская фантастика, Детские приключения</p>
                <p>Год издания: 2018</p>
                <p>Описание: Грег Бельмонт ничем не отличается от других детей. Разве что у него мало друзей, имеется чудаковатый отец, да ещё есть семейное проклятие неудачных четвергов. Точнее, так было до одного ужасного дня… Кто бы мог подумать, что он на самом деле Грегдруль Пузельбум – предок древнего рода великих воинов… гномов? Грег бы ни за что не поверил в это, если бы его отца только что у него на глазах не атаковал тролль! И теперь нужно срочно разбираться, что к чему: оказывается, в подземельях под Чикаго живут гномы и они испокон веков враждуют с эльфами (просто «Властелин колец» какой-то!), в мире возрождается волшебство и грядёт новая магическая эра, Грег умеет выращивать рукколу из кафельного пола, и с ним говорит древний боевой топор… Но всё это не так важно. Самое главное для Грега – спасти отца. Ну и ещё заодно хорошо было бы предотвратить войну и не потерять лучшего друга.</p>
                <a href="~/css/Book_fb2/Легенда о Греге.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
