<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дом замений</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book14.jpg">
            </div>
            <div class="book-info">
                <h3>Дом замений</h3>
                <p>Автор: Кейси Л. Бонд</p>
                <p>Жанр: Героическое фэнтези, Зарубежное фэнтези, Любовное фэнтези</p>
                <p>Год издания: 2021</p>
                <p>
                    Описание: Нур – нежеланная и нелюбимая младшая дочь в семье жестокого правителя солнечного царства. Ребенок единственной женщины, которая разбила королю сердце. С тех пор его неутолимая ненависть обрушилась на Нур.
                    Надежда на спасение от тирании отца приходит вместе с письмом правителя лунного королевства Келума. Одна из принцесс должна выйти за него замуж для заключения перемирия. Для короля дети – лишь пешки в игре по захвату власти. Его цель – корона лунного света, дающая владельцу безграничное могущество.
                    Но у Нур свои планы на корону. С такой силой в руках она сможет наконец свергнуть своего деспотичного отца.
                    Постепенно девушка все больше сближается с Келумом. И теперь положить конец правлению тирана становится еще сложнее.
                    Сможет ли Нур победить безжалостного владыку и увидеть, как в королевстве наступит новый рассвет?
                </p>
                <a href="~/css/Book_fb2/Дом Затмений.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
