<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Алая королева</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book10.jpg">
            </div>
            <div class="book-info">
                <h3>Алая королева</h3>
                <p>Автор: Виктория Авеярд</p>
                <p>Жанр: Фантастика</p>
                <p>Год издания: 2015</p>
                <p>
                    Описание: Культовый мировой бестселлер.
                    Ее мир разделен по цвету крови. Она – Красная, отброс и бесправная рабыня. Они – Серебряные, элита королевства, и владеют могущественной магией.
                    Ее зовут Мэра Бэрроу. Она родилась, чтобы навсегда изменить этот мир.
                    Оказавшись среди Серебряных, Мэра обнаруживает, что обладает весьма грозной и непредсказуемой силой. Притворяясь другим человеком, девушка вынуждена вести смертельно опасную игру. Она одна против всех. Против врагов. Против друзей. И даже против собственного сердца. Но Мэре необходимо помнить одно важное правило мира Серебряных – кто угодно может предать кого угодно…
                </p>
                <a href="~/css/Book_fb2/Аллая королева.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
