<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мастер и Маргарита</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book2.jpg">
            </div>
            <div class="book-info">
                <h3>Мастер и Маргарита</h3>
                <p>Автор: Михаил Булгаков</p>
                <p>Жанр: любовный роман, Модернизм в литературе</p>
                <p>Год издания: 1928</p>
                <p>
                    Описание: «Мастер и Маргарита» М. А. Булгакова — самое удивительное и загадочное произведение ХХ века. Опубликованный в середине 1960-х, этот роман поразил читателей необычностью замысла, красочностью и фантастичностью действия, объединяющего героев разных эпох и культур. Автор создал «роман в романе», где сплетены воедино религиозно-историческая мистерия, восходящая к легенде о распятом Христе, московская «буффонада» и сверхъестественные сцены с персонажами, воплощающими некую темную силу, которая однако «вечно хочет зла и вечно совершает благо».
                    «Есть в этой книге какая-то безрасчетность, какая-то предсмертная ослепительность большого таланта…» — писал Константин Симонов в своем предисловии к первой публикации романа, открывшей всему миру большого художника, подлинного Мастера слова.
                </p>
                <a href="~/css/Book_fb2/Мастер и Маргарита.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
