<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пересеку время ради тебя</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book13.jpg">
            </div>
            <div class="book-info">
                <h3>Пересеку время ради тебя</h3>
                <p>Автор: Ли Кконним</p>
                <p>Жанр: Зарубежная фантастика, Социальная фантастика</p>
                <p>Год издания: 2018</p>
                <p>
                    Описание: «Пишу, потому что отец заставил» – так начинается удивительная история Ыню, девочки-подростка, в мир которой бесцеремонно врывается будущая жена отца. Ыню пишет письмо самой себе, чтобы прочитать его через год. Она уверена, что за это время в ее невеселой жизни ничего не изменится, разве только отец окончательно отдалится и теперь уже точно не расскажет, что случилось с ее родной мамой, которую она никогда не видела. Однако происходит невероятное: отправленное в 2016 году письмо получает девочка Ыню, живущая в далеком 1982-м, – и завязывается переписка во времени. Их разделяют десятки лет, но это не мешает им стать настоящими подругами.
                    Сильные эмоции и искренние признания героинь, от письма к письму все более пронзительные, в конце концов приводят обеих к одной истине…
                </p>
                <a href="~/css/Book_fb2/Пересеку время ради тебя.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
