<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Война и Мир</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book7.jpg">
            </div>
            <div class="book-info">
                <h3>Война и Мир</h3>
                <p>Автор: Николай Толстой</p>
                <p>Жанр: роман</p>
                <p>Год издания: 1865-1869</p>
                <p>Описание: Война и мир» – русский исторический (и немного фантастический) роман Льва Толстого, опубликованный в 1865-1869 годах. В романе рассказывается о союзах и войнах между Россией и Францией в начале XIX века, а также о жизни персонажей, увлекаемых историческими событиями. «Война и мир» считается одним из самых значительных романов в русской и мировой литературе, по нему были сняты фильмы, телепередачи и многое другое.</p>
                <a href="~/css/Book_fb2/Толстой Лев. Война и мир. Том 1 и 2 - royallib.com.fb2.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
