<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сто лет одиночества</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book9.jpg">
            </div>
            <div class="book-info">
                <h3>Сто лет одиночества</h3>
                <p>Автор: Габриель Маркес</p>
                <p>Жанр: Роман</p>
                <p>Издательство: Издательство</p>
                <p>Год издания: 1967</p>
                <p>Описание: Роман колумбийского писателя Габриэля Гарсиа Маркеса, одно из наиболее характерных и популярных произведений в направлении магического реализма. Первое издание романа было опубликовано в Буэнос-Айресе в июне 1967 года тиражом 8000 экземпляров. Роман был удостоен премии Ромуло Гальегоса. На сегодняшний день продано более 30 миллионов экземпляров, роман переведён на 35 языков мира.</p>
                <a href="~/css/Book_fb2/Сто лет одиночества.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
