<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анна Каренина</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book16.jpg">
            </div>
            <div class="book-info">
                <h3>Анна Каренина</h3>
                <p>Автор: Лев Толстой</p>
                <p>Жанр: Классический Роман</p>
                <p>Год издания: 1876</p>
                <p>Описание: «Анну Каренину» Толстой называл «романом широким и свободным». В основе этого определения пушкинский термин «свободный роман». Не фабульная завершенность положений, а творческая концепция определяет выбор материала и открывает простор для развития сюжетных линий. Роман «широкого дыхания» привлекал Толстого тем, что в «просторную, вместительную раму» без напряжения входило все то новое, необычайное и нужное, что он хотел сказать людям.</p>
                <a href="~/css/Book_fb2/Анна Каренина.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
