<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анархия упадка: Отсев</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="book">
            <div class="book-image">
                <img src="~/css/Content/book8.jpg">
            </div>
            <div class="book-info">
                <h3>Анархия упадка: Отсев</h3>
                <p>Автор: Лаэндл</p>
                <p>Жанр: Фантастика, Реал-РПГ</p>
                <p>Год издания: 2018</p>
                <p>Описание: Безжалостные монстры, появившиеся будто из ниоткуда, в один миг разрушили размеренную жизнь каждого человека и всего человечества. Нападению подверглись буквально все, где бы не находились, без возможности обратиться за помощью. Люди попали в ту самую ситуацию, когда их жизни зависят только от них самих. Вместе с этим, у некоторых выживших появился интерфейс и система прокачки как в играх, наделяя их сверхспособностями которые позволяют защищать свою и чужие жизни. Но так ли опасны чудовища, когда вокруг властвует беззаконие?</p>
                <a href="~/css/Book_fb2/Анархия упадка - Отсев.zip" download="" class="button14">Скачать</a>
            </div>
        </section>
    </main>
</body>
</html>
