@{
    ViewBag.Title = "Добро пожаловать на наш сайт!";
}

<h1>Добро пожаловать на наш сайт!</h1>

<p>Мы предлагаем широкий выбор книг по различным темам. Наш сайт предоставляет удобный способ выбрать и заказать книги, а также отслеживать статус своих заказов.</p>

<p>Мы надеемся, что наш сайт окажется для вас полезным и вы найдете на нем интересующие вас книги.</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Лучшие продаваемые книги</h3>
            <ul>
                <li>Мастер и Маргарита</li>
                <li>Война и мир</li>
                <li>Преступление и наказание</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Новинки</h3>
            <ul>
                <li>1984</li>
                <li>451° по Фаренгейту</li>
                <li>Сто лет одиночества</li>
            </ul>
        </div>
    </div>
</div>
