<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Создатели сайта</title>
</head>
<body>
    <h1>Создатели сайта</h1>
    <ul>
        <li>Ступишин Даниил 106-ИС</li>
        <li>Борисова Элина 106-ИС</li>
    </ul>
</body>
</html>